<h1>Важные моменты построения распределенного web-приложения</h1>

<h2>Краткое изложение</h2>
Недавно возникла задача следующего содержания:
<ul>
    <li>Имеется таблица в базе данных.</li>
    <li>Необходимо реализовать интерфейс для работы с таблицей.</li>
    <li>Требуется вывод графика по данным таблицы.</li>
    <li>Приветствуется использование в клиентской части фреймворка ExtJS.</li>
</ul>
Просмотрел некоторые доступные по данному вопросу материалы, <a href="#Ссылки">ссылки на которые приводятся ниже.</a> В итоге понял, что есть некотрые моменты, которые могут вызывать трудности при реализации этой простой задачи. Ввиду самодостаточности используемых модулей, данное решение не содержит Spring's annotation.  Думаю, что мои рекомендации будет полезны.
<cut text="Продолжить чтение.">

<h2>Исходная конфигурация среды разработки и сервера приложения</h2>
Итак, для реализации и тестирования данной задачи, было использовано следующее программное обеспечение:
<ol>
    <li>Разработка и тестирование.
        <ul>
            <li>IntelliJ IDEA с управлением проектом при помощи Maven.</li>
            <li>Версия PostgreSQL 9.4 под Windows.</li>
            <li>Jetty в качестве контейнера сервлетов с интегрированным запуском из IntelliJ IDEA для локального тестирования.</li>
        </ul>
    </li>
    <li>Deploy.
        <ul>
            <li>Сервер на <a href="http://beagleboard.org/BLACK">BeagleBone Black</a> с установленной Debian Wheezy.</li>
            <li>NGINX в качестве front-end.</li>
            <li>Jetty в качестве back-end.</li>
            <li><a href="http://www.postgresql.org/ftp/source/v9.4.0/">PostgreSQL 9.4</a>, которая была собрана из исходников.</li>
        </ul>
    </li>
</ol>
Таким образом, мы получили некое приближение поставленной задачи к реальной жизни. Весь проект собирался при помощи Maven, что позволило динамически манипулировать dependency и тестировать изменения, происходящие в конечном приложении.

<h2>Постановка задачи</h2>
В контексте Scrum идеологии, определим следующие этапы:
<ol>
    <li>База данных проекта (SQL).</li>
    <li>Rest-сервис (Java).</li>
    <li>Web-клиент (JavaScript).</li>
</ol>
На каждом этапе происходит реализация полностью автономного модуля. Автономность реализации подразумевает полную программно-аппаратную независимость модулей друг от друга. Это важно понимать при проектировании более сложных систем.

<h2>База данных проекта (SQL)</h2>
Для его реализации я выбрал PostgreSQL. Таблица состоит из 4 полей:
<img src="https://habrastorage.org/files/008/40d/259/00840d2594f94c49b2f336b57615094e.png"/>
На этапе проектирования удобно все запросы по инициализации базы данных сохранять в отдельном файле, тем более, что IntelliJ IDEA предоставляет возможность непосредственного подключения к базе и вводу SQL запросов из файла. Пример такого решения: <spoiler title="points_pg_script.sql">
<source lang="SQL">
CREATE SCHEMA habrahabr;
CREATE TABLE habrahabr.points (
  id         SERIAL       PRIMARY KEY ,
  field_name VARCHAR(100) NOT NULL DEFAULT '',
  xx         INTEGER      NOT NULL DEFAULT '0',
  yy         INTEGER      NOT NULL DEFAULT '0'
);

--
-- Dumping data for table points
--
SET SEARCH_PATH TO habrahabr;
DELETE FROM points;
INSERT INTO points (field_name, xx, yy) VALUES ('Point Y1',   0,   0);
INSERT INTO points (field_name, xx, yy) VALUES ('Point Y2',  60, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point Y3',   0, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point Y4',  60, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point Y5', 120, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R1', 140, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R2', 140, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R3', 140, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R4', 200, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R5', 240, 170);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R6', 240, 130);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R7', 200, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R8', 140, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point R9', 140,   0);
INSERT INTO points (field_name, xx, yy) VALUES ('Point A1', 250,   0);
INSERT INTO points (field_name, xx, yy) VALUES ('Point A2', 310, 200);
INSERT INTO points (field_name, xx, yy) VALUES ('Point A3', 380,   0);
INSERT INTO points (field_name, xx, yy) VALUES ('Point A4', 345, 100);
INSERT INTO points (field_name, xx, yy) VALUES ('Point A5', 280, 100);
COMMIT;
</source>
</spoiler>
На данном этапе важно понимать за что будет отвечать данный модуль. Поэтому, необходимо правильно определять имена переменных и уникальность ключевых полей. Поле id у нас определено как SERIAL, поэтому оно определяет уникальность нашей записи и позволяет иметь в базе одинаковые field_name (подразумевается названия объекта). За уникальность id отвечает именно база данных, поэтому в данной интерпретации его невозможно изменять и создавать в других модулях. Это накладывает некоторые ограничения, которые мы рассмотрим позже. Кроме того, поля field_name, xx и yy обозначены непривычными аббревиатурами, что тоже будет иметь свои последствия.

<h2>Rest-сервис (Java)</h2>
Для использования нашей базы в проекте необходимо добавить зависимости - Hibernate и драйвера PosgresSQL.
<spoiler title="Maven dependency">
<source lang="xml">
<dependency>
    <groupId>org.postgresql</groupId>
    <artifactId>postgresql</artifactId>
    <version>9.4-1203-jdbc41</version>
</dependency>

<dependency>
    <groupId>org.hibernate</groupId>
    <artifactId>hibernate-entitymanager</artifactId>
    <version>5.0.2.Final</version>
</dependency>
</source>
</spoiler>
<h3>Создание Entity отношения</h3>
В конечном виде, проект данного модуля будет выглядеть следующим образом:
<spoiler title="Структура Java модуля в IDE">
<img src="https://habrastorage.org/files/681/3ab/0eb/6813ab0eb9644fb08647256621f77af3.png"/>
</spoiler>
Для управления подключением к БД используем конфигурирование при помощи persistence.xml. В данном ресурсе описано наше подключение, которое реализовано в виде прямого коннекта без выбора типа подключения, пользователя и необходимости ввода пароля. Все эти данные уже определены в конфигурации. Entity соотношение реализовано в классе Point. Кроме того, в данном классе описаны аннотации для реализации Rest сервиса, который мы рассмотрим ниже.
<spoiler title="persistence.xml">
<source lang="XML">
<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
        version="1.0">

    <persistence-unit name="HABRAHABR" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <properties>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/challenges"/>
            <property name="hibernate.connection.username" value="postgres"/>
            <property name="hibernate.connection.password" value="postgres"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgresPlusDialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
        </properties>
    </persistence-unit>
</persistence>
</source>
</spoiler>
<spoiler title="Point.java">
<source lang="Java">
package ua.pp.odabc.entity;

import javax.persistence.*;
import javax.xml.bind.annotation.XmlElement;
import javax.xml.bind.annotation.XmlRootElement;
import java.io.Serializable;

@Entity
@Table(name = "points", schema = "habrahabr")
@NamedQueries({
        @NamedQuery(name = "Point.getAll", query = "select p from Point p"),
        @NamedQuery(name = "Point.deleteAll", query = "delete from Point p")
})
@XmlRootElement
public class Point implements Serializable {

    @Id
    @XmlElement
    @Column(name = "id")
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private int id;

    @Column(name = "field_name", length = 100)
    private String field_name;

    @Column(name = "xx")
    private int xx;

    @Column(name = "yy")
    private int yy;

    public Point() {
    }

    public Point(String field_name, int xx, int yy) {
        this.field_name = field_name;
        this.xx = xx;
        this.yy = yy;
    }

    public int getID() {
        return id;
    }

    public String getName() {
        return field_name;
    }

    public void setName(String name) {
        this.field_name = name;
    }

    public int getX() {
        return xx;
    }

    public void setX(int coord) {
        this.xx = coord;
    }

    public int getY() {
        return yy;
    }

    public void setY(int coord) {
        this.yy = coord;
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (!(o instanceof Point)) return false;

        Point point = (Point) o;

        if (id != point.id) return false;
        if (xx != point.xx) return false;
        if (yy != point.yy) return false;
        return field_name.equals(point.field_name);

    }

    @Override
    public int hashCode() {
        int result = id;
        result = 31 * result + field_name.hashCode();
        result = 31 * result + xx;
        result = 31 * result + yy;
        return result;
    }

    @Override
    public String toString() {
        return String.format("Point{id=%d, name='%s\', x=%d, y=%d}", id, field_name, xx, yy);
    }

}
</source>
</spoiler>
<h3>Реализация интерфейса обработки информации, хранимой в базе данных</h3>
Реализация взаимодействия созданной нами Entity с базой данных является стандартной и не представляет трудностей. Для его реализации определен интерфейс PointService и его реализация - PointServiceImpl. В данном проекте я отказался от использования Spring. Потому ENTITY_MANAGER_FACTORY поднимаем в виде определения переменной в интерфейсе. Таким образом, при создании новой сущности сервиса мы получим доступ к единственной фабрике ENTITY_MANAGER_FACTORY, для создания необходимого нам менеджера. 
<spoiler title="PointService">
<source lang="Java">
package ua.pp.odabc.service;

import ua.pp.odabc.entity.Point;

import javax.persistence.EntityManagerFactory;
import javax.persistence.Persistence;
import java.util.Collection;

public interface PointService {
    EntityManagerFactory ENTITY_MANAGER_FACTORY = Persistence.createEntityManagerFactory("HABRAHABR");

    Point add(Point point);

    void delete(int id);

    void delete(Point point);

    void deleteAll();

    Point get(int id);

    void update(Point point);

    Collection<Point> getAll();

    Collection<Point> get(String search);
}
</source>
</spoiler>
<spoiler title="PointServiceImpl">
<source lang="Java">
package ua.pp.odabc.service.impl;

import ua.pp.odabc.service.PointService;
import ua.pp.odabc.entity.Point;

import javax.persistence.EntityManager;
import javax.persistence.TypedQuery;
import java.util.Collection;

public class PointServiceImpl implements PointService {
    private EntityManager em = ENTITY_MANAGER_FACTORY.createEntityManager();

    public Point add(Point point) {
        em.getTransaction().begin();
        Point pointFromDB = em.merge(point);
        em.getTransaction().commit();
        return pointFromDB;
    }

    public Point get(int id) {
        return em.find(Point.class, id);
    }

    public void delete(int id) {
        em.getTransaction().begin();
        em.remove(get(id));
        em.getTransaction().commit();
    }

    public void delete(Point point) {
        em.getTransaction().begin();
        em.remove(point);
        em.getTransaction().commit();
    }

    public void deleteAll() {
        for(Point point: getAll())
            delete(point.getID());
    }

    public void update(Point point) {
        em.getTransaction().begin();
        em.merge(point);
        em.getTransaction().commit();
    }

    public Collection<Point> get(String search) {
        TypedQuery<Point> query = em.createQuery(
                "select p from Point p where p.field_name like :search", Point.class)
                .setParameter("search", search.trim() + "%");
        Collection<Point> result = query.getResultList();
        return result;
    }

    public Collection<Point> getAll() {
        TypedQuery<Point> query = em.createNamedQuery("Point.getAll", Point.class);
        return query.getResultList();
    }

}
</source>
</spoiler>
Реализация данного сервиса должна быть протестирована
<spoiler title="Maven dependency">
<source lang="xml">
    <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>4.11</version>
    </dependency>
</source>
</spoiler>
<spoiler title="PointServiceImplTest">
<source lang="Java">
package ua.pp.odabc.service.impl;

import ua.pp.odabc.service.PointService;
import ua.pp.odabc.entity.Point;
import org.junit.AfterClass;
import org.junit.Before;
import org.junit.Test;

import java.util.Collection;

import static org.junit.Assert.assertEquals;

public class PointServiceImplTest {

    PointService service = new PointServiceImpl();

    @AfterClass
    public static void close() {
        PointService service = new PointServiceImpl();
        service.deleteAll();
        service.add(new Point("Point Y1", 0, 0));
        service.add(new Point("Point Y2", 60, 100));
        service.add(new Point("Point Y3", 0, 200));
        service.add(new Point("Point Y4", 60, 100));
        service.add(new Point("Point Y5", 120, 200));
        service.add(new Point("Point R1", 140, 200));
        service.add(new Point("Point R2", 140, 100));
        service.add(new Point("Point R3", 140, 200));
        service.add(new Point("Point R4", 200, 200));
        service.add(new Point("Point R5", 240, 170));
        service.add(new Point("Point R6", 240, 130));
        service.add(new Point("Point R7", 200, 100));
        service.add(new Point("Point R8", 140, 100));
        service.add(new Point("Point R9", 140, 0));
        service.add(new Point("Point A1", 250, 0));
        service.add(new Point("Point A2", 310, 200));
        service.add(new Point("Point A3", 380, 0));
        service.add(new Point("Point A4", 345, 100));
        service.add(new Point("Point A5", 280, 100));
    }

    @Before
    public void init() {
        service.deleteAll();
    }

    @Test
    public void testAddRecord() throws Exception {
        Point point = new Point("Test Saved", 0, 10);

        Point pointFromDB = service.add(point);
        // assert statements
        assertEquals("Name must be same", point.getName(), pointFromDB.getName());
        assertEquals("Coordinate X must be same", point.getX(), pointFromDB.getX());
        assertEquals("Coordinate Y must be same", point.getY(), pointFromDB.getY());
    }

    @Test
    public void testGetRecord() throws Exception {
        Point point = new Point("Test Geted", 250, 1000);
        point = service.add(point);

        Point pointFromDB = service.get(point.getID());
        // assert statements
        assertEquals("ID must be same", point.getID(), pointFromDB.getID());
        assertEquals("Name must be same", point.getName(), pointFromDB.getName());
        assertEquals("Coordinate X must be same", point.getX(), pointFromDB.getX());
        assertEquals("Coordinate Y must be same", point.getY(), pointFromDB.getY());
    }

    @Test
    public void testDeleteRecordByID() throws Exception {
        Point point = new Point("Test Deleted by ID", 100, 10);
        point = service.add(point);

        service.delete(point.getID());
        // assert statements
        assertEquals("Record ID must absent in DB", null, service.get(point.getID()));
    }

    @Test
    public void testDeleteRecordByPoint() throws Exception {
        Point point = new Point("Test Deleted by Point", 2354360, 869708744);
        point = service.add(point);

        service.delete(point);
        // assert statements
        assertEquals("Record ID must absent in DB", null, service.get(point.getID()));
    }

    @Test
    public void testUpdate() throws Exception {
        Point point = new Point("Test Updated", 1233, 78654);

        point = service.add(point);
        point.setName("Test for new Name");
        point.setX(66);
        point.setY(99);

        service.update(point);
        Point pointFromDB = service.get(point.getID());
        // assert statements
        assertEquals("Points must be same", point, pointFromDB);
    }

    @Test
    public void testGet(){
        Point point1 = new Point("Test Get All 1", 123, 333);
        Point point2 = new Point("Test Get All 2", 686, 666);
        Point point3 = new Point("Test Get All 3", 999, 777);

        point1 = service.add(point1);
        point2 = service.add(point2);
        point3 = service.add(point3);

        Collection<Point> points = service.get("Test");
        // assert statements
        assertEquals("Count must be 3", 3, points.size());
        assertEquals("Point must be in Collection", true, points.contains(point1));
        assertEquals("Point must be in Collection", true, points.contains(point2));
        assertEquals("Point must be in Collection", true, points.contains(point3));
    }

    @Test
    public void testGetAll(){
        Point point1 = new Point("Test Get All 1", 123, 333);
        Point point2 = new Point("Test Get All 2", 686, 666);
        Point point3 = new Point("Test Get All 3", 999, 777);

        point1 = service.add(point1);
        point2 = service.add(point2);
        point3 = service.add(point3);

        Collection<Point> points = service.getAll();
        // assert statements
        assertEquals("Count must be 3", 3, points.size());
        assertEquals("Point must be in Collection", true, points.contains(point1));
        assertEquals("Point must be in Collection", true, points.contains(point2));
        assertEquals("Point must be in Collection", true, points.contains(point3));
    }
}
</source>
</spoiler>


<h3>Создание Rest сервиса для доступа к данным из БД</h3>
UML диаграмма нашего класса выглядит следующим образом:
<img src="https://habrastorage.org/files/7ed/626/92a/7ed62692aa58465c81fc8dcbfd8d7f36.png"/>
Я сознательно переименовал GET-еры и SET-еры, для того, чтобы увидеть, что имена наших внутренних переменных не соответствуют именам внешних переменных, нашей Entity. Для того, чтобы не было недопонимания, какие имена переменных передаются старайтесь не переименовывать стандартные имена методов.









<spoiler title="Структура web модуля в IDE">
<img src="https://habrastorage.org/files/670/816/d27/670816d272b64666bb2d583a68214305.png"/>
</spoiler>




<h2><anchor>#Ссылки</anchor></h2>
<ul>
    <li><a href="http://devcolibri.com/2046">Как связать Entity в JPA?</a></li>
    <li><a href="http://devcolibri.com/1658">JPA работа с базой данных</a></li>
    <li><a href="http://crunchify.com/create-very-simple-jersey-rest-service-and-send-json-data-from-java-client/">Create Very Simple Jersey REST Service and Send JSON Data From Java Client</a></li>
    <li><a href="https://www.sencha.com/legal/gpl/">Sencha GPL Licensing</a></li>
    <li><a href="https://docs.sencha.com/extjs/6.0/components/introduction_to_charting.html">Sencha Introduction to Charting</a></li>
    <li><a href="http://habrahabr.ru/post/240033/">Разработка веб-приложения</a></li>
</ul>







Этап 2.3.
Реализация Rest сервиса осуществлена при помощи Jersey REST Service.
Для его работы подключаем следующие модули:

<source lang="xml">
    <dependency>
        <groupId>com.sun.jersey</groupId>
        <artifactId>jersey-bundle</artifactId>
        <version>1.19</version>
    </dependency>
</source>

Кроме подключения непосредственно REST Service необходима реализация обработки JSON Data. Первичное использование рекомендованной зависимости вызывает проблемы при реализации команды POST.

<source lang="xml">
    <dependency>
        <groupId>org.json</groupId>
        <artifactId>json</artifactId>
        <version>20090211</version>
    </dependency>
</source>

В результате проведенной работы выяснилось, что корректно работает следующая зависимость, с помощю которой и реализован весь Rest сервис.

<source lang="xml">
    <dependency>
        <groupId>com.fasterxml.jackson.core</groupId>
        <artifactId>jackson-core</artifactId>
        <version>2.3.0</version>
    </dependency>
</source>

Для правильной работы парсинга JSON Data в JavaScript необходим также

<source lang="xml">
    <dependency>
        <groupId>org.codehaus.jackson</groupId>
        <artifactId>jackson-mapper-asl</artifactId>
        <version>1.9.13</version>
    </dependency>
</source>

В последствии эти две зависимости заменяем на

<source lang="xml">
    <dependency>
        <groupId>com.sun.jersey</groupId>
        <artifactId>jersey-json</artifactId>
        <version>1.19</version>
    </dependency>
</source>

После подключения правильных зависимостей реализация контроллера доступа к БД не предоставляет труда. Главное определить какие данные передавать в виде ответа и как формировать ответ. Есть два возможных решения - Response или определен класс тестирования сервиса Rest, но он не реализован.

Кроме того, хочеться отметить идеологический аспект обмена данными.
Поле ID в базе прописано как индекс. При реализации Rest сервиса индекс не передается при обмене. Для его передачи
необходима дополнительная аннотация @XmlElement. Данный обмен вызывает проблему реализации процедуры создания новой
записи в БД.

    - Сначала клиент создает новую сущность у которой нет id или он неправильный.
    - Затем мы записываем ее в БД и получаем в ответ правильную сущность с правильным id.
    - Вопрос как синхронизировать данные на клиенте. Очевидная реализации перезагрузки данных, т.е. при вызове POST и его успешном завершении вызвать GET, не является оптимальной с точки зрения производительности. Однако, манипуляция с данными на стороне клиента может вызвать PUT при внесении изменений в id.

В любом случае, данное решение необходимо реализовывать на стороне клиента. Кроме того, запретить доступ к изменению id на стороне клиента, кроме момента формирования новой записи.

Этап 3.
Содержит следующие этапы.
3.1. Подключение библиотеки Ext JS 6 и реализация паттерна MVC.
3.2. Реализация класса model и store на основе информации из предыдущих этапов.
3.3. Проектирование основных видов (view) и интеграция их в основной вид клиента.
3.4. Проектирование необходимых контроллеров.
3.5. Подключение расширения graph для Ext JS и отображение данных в виде графика.
3.6. Прочее

Этап 3.1.

Создаем основную jsp страницу и подключаем в ней ссылки на библиотеку и основную тему и ресурсы.
В web.xml регистрируем основную точку входа и Jersey REST Service. За счет использования аннотаций в проекте данная процедура сильно упрощена.
Определяем основной вход в клиентскую часть point-app.js с ресурсами point-app.css
В соответствии с выбранной моделью в данном модуле мы регистрируем все необходимые контроллеры, модели и хранилища и вызываем автоматический запуск Viewport

Зтап 3.2.
Описываем модель данных с реализацией взаимодействия при помощи нашего REST Service.
На основе модели формируем хранилище с доступом к REST Service. Регистрируем их в point-app.js

Этап 3.3.
Основное окно разделено нами на 3 части:
    - графическое представление данных
    - табличное представление данных и манипуляции ими - необходим контроллер
    - поисковый фильтр по данным - также необходим контроллер
Дополнительно необходимо отображение для добавления данных с собственным контроллером.

Этап 3.4.
Для данной задачи, в соответствии с проектируемой моделью необходимо реализовать следующие контроллеры:
    - добавление нового объекта в базу.
    - наложение фильтра поле item_name.
    - редактирование, удаление и создание нового объекта (вызов необходимого view).

Этап 3.5.
Для построения графиков необходимо подключить дополнительный модуль.
После его подключения отображение данных в графическом виде не предоставляет труда.
Хочется отметить тот факт, что использование модели MVC позволяет осуществлять автоматическую синхронизации отображений за счет использования общего хранилища.

3.6. На данном этапе пока не протестирована реализация редактирования и удаления данных. Размещение проекта и его тестирование осуществлялось на Jetty 9.2.10 http://www.eclipse.org/jetty/

Этап 4.
4.1. Переход на Jersey 2, устранение неопределенности в обработке пустого набора.
4.2. Правильная последовательность добавления нового объекта.
4.3. Запуск POP, DELETE.

Этап 4.1.
Для перехода на Jersey 2 необходимо было произвести следующие изменения:
- Maven pom.xml
    - Убираем устаревшие зависимости

<source lang="html">
    <dependency>
        <groupId>com.sun.jersey</groupId>
        <artifactId>jersey-bundle</artifactId>
        <version>1.19</version>
    </dependency>

    <dependency>
        <groupId>com.fasterxml.jackson.core</groupId>
        <artifactId>jackson-core</artifactId>
        <version>2.3.0</version>
    </dependency>

    <dependency>
        <groupId>org.codehaus.jackson</groupId>
        <artifactId>jackson-mapper-asl</artifactId>
        <version>1.9.13</version>
    </dependency>
</source>

    - Устанавливаем новые

<source lang="xml">
    <dependency>
        <groupId>org.glassfish.jersey.containers</groupId>
        <artifactId>jersey-container-servlet</artifactId>
        <version>2.22</version>
    </dependency>

    <dependency>
        <groupId>org.glassfish.jersey.media</groupId>
        <artifactId>jersey-media-json-jackson</artifactId>
        <version>2.22</version>
    </dependency>
</source>

В данном решении обойдемся без зависимости для Jetty сервлета, подключение и запуск нашего Jersey REST Service
произведем из web.xml. Для этого произведем в нем следующие изменения

    -Удаляем старую регистрацию сервлета

<source lang="xml">
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
</source>

    - Новая регистрация выглядит так:

<source lang="xml">
    <servlet>
        <servlet-name>REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ua.com.ossystem</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
</source>

Появились задаваемые явно значение нашего контроллера и новое определение контейнера сервлетов.
Бонусным дополнением к данному изменению получили возврат по запросу GET правильного пустого Response в виде [ ], а не null. Посмотреть ответ от сервиса можно послав запрос по адресу .../rest/get?search='маска поиска по которой нет значений'.

Этап 4.2.
Попробуем избавиться от необходимости перегрузки наших данных при добавлении новых значений. Исправим реализацию контроллера - все запросы, кроме GET будут возвращать Response.

PointController:

<source lang="java">
    @POST
    @Path("/post")
    @Produces(MediaType.APPLICATION_JSON)
    @Consumes(MediaType.APPLICATION_JSON)
    Response addPoint(Point point);
</source>

PointControllerImpl:

<source lang="java">
    public Response addPoint(Point point) {
        point = service.add(point);
        return Response.status(Response.Status.OK).entity(point).build();
    }
</source>

В PointAddController.js получим обновленный id, добавим обновленное значение в store и синхронизируем изменения.
Для того, что данное предположение заработало необходимо в нашей модели указать тип возвращаемых данных

<source lang="java">
    reader: {
        type: 'json',
        dataProperty: 'point'
    }
</source>

После этого, в контроллере необходимо присвоить нашей пока еще мнимой точке значение id, которое будет соответствовать типу данных, например -1. Тогда JSON пропустит запрос, точка будет записана в БД и ей присвоиться новый ID, который нам вернется в Response в виде данных, интерпретируемых как объявленный нами объект. Осталось добавить новый объект в хранилище и синхронизировать его.

<spoiler title="Код который мы скрыли">
<source lang="java">
    onSavePoint: function () {
        var me = this;
        var hangPoint = Ext.create('PointApp.model.Point');
        hangPoint.set(this.getPointAddView().down('form').getValues());
        hangPoint.set('id', -1);

        hangPoint.save({
            success: function (record, operation) {
                Ext.getStore('PointStore').add(record);
                Ext.getStore('PointStore').sync();
                me.getPointAddView().close();
            },
            failure: function (record, operation) {
                Ext.MessageBox.show({
                    title: 'Ошибка!',
                    msg: 'Что-то не так пошло!',
                    buttons: Ext.Msg.OK,
                    icon: Ext.Msg.ERROR
                });
            }
        });
    },
</source>
</spoiler>

4.3. Запуск POP, DELETE.